@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Bangers&family=Bebas+Neue&family=Carlito:wght@700&family=Castoro+Titling&family=Cormorant+Garamond&family=Fjalla+One&family=Gilda+Display&family=Gloock&family=Goblin+One&family=Holtwood+One+SC&family=Inter&family=Kanit&family=Konkhmer+Sleokchher&family=Koulen&family=Lilita+One&family=Merriweather:ital@0;1&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@400;700&family=Oswald:wght@200;400&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;1,700&family=Rajdhani:wght@700&family=Righteous&family=Roboto+Condensed:ital@1&family=Roboto:wght@300&family=Ruda:wght@600&family=Rufina&family=Russo+One&family=Share+Tech+Mono&family=Shrikhand&family=Slabo+27px&family=Squada+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


:root {
    --color-bg: #fff;
    --cta-color: #161616;
    --text-span: #FF1212;
    --text-color: #000000;
    --box-shadow: -4px 4px 20px rgb(0,0,0,0.3);
    --cta-hover: #505050;
    --card-color: #F1F1F1;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-wdith-sm: 90%;
}

h1 {
    font-size: 4.5rem;
}

small {
    font-weight: 600;
    font-size: 16px;
}


